@import "tailwindcss";

@layer base {
  * {
    font-family: 'Inter', sans-serif;
    @apply border-[#D7BDA6] rounded-md;
  }

  body {
    @apply bg-[#F7F1EA] text-[#6D3914] h-full w-full text-sm;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'DM Sans', sans-serif;
    @apply !font-bold !text-[#4C2B08];
  }

  button,
  select,
  .select {
    @apply cursor-pointer;
  }

  input {
    @apply !rounded-md;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    margin: 4px 0;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #3B2F2F;
    border-radius: 999px;
  }
}

@theme {
  --color-bg: #F7F1EA;
  --color-text: #6D3914;
  --color-title: #4C2B08;
  --color-border: #D7BDA6;
  --color-card-bg: #FCFAF7;
  --color-toolbar-bg: #F0E3D4;
  --color-form-element-bg: #F0E3D4;
}