@import "tailwindcss";

@layer base {
  *:not(i) {
    font-family: 'Caveat', cursive !important;
  }

  body {
    @apply bg-[#F1E9D2] text-[#3B2F2F] h-full w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Pacifico', cursive !important;
  }

  button {
    @apply cursor-pointer;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    margin: 4px 0;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #3B2F2F;
    border-radius: 999px;
  }
}