@reference "../../../styles.css";

:host {
    @apply px-[10%];
}

.toolbar {
    @apply flex flex-row justify-between items-center py-2;

    app-search-bar,
    .filters,
    .options {
        @apply !border-1 !border-text bg-card-bg;
    }

    .filters {
        @apply flex flex-row items-center p-1 gap-1 w-fit border-1 cursor-pointer;
    }

    .options {
        @apply flex items-center p-1 gap-1 border-1 cursor-pointer;
    }
}

.dropdown-arrow {
    @apply !border-text w-fit bg-white border rounded shadow-md z-10 absolute;

    ul {
        @apply py-2;
        
        li {
            @apply whitespace-nowrap px-2 hover:bg-gray-100 cursor-pointer;
        }
    }
}

.dropdown-arrow::before,
.dropdown-arrow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;    
}

.dropdown-arrow::before {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid;

    top: -7px;
    right: 10px;
}

.dropdown-arrow::after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid white;

    top: -5.5px;
    right: 10px;
}